{% extends "layout.html" %}


{% block content %}
    {% if error %}

        <p style="color: #1c7430; background: #0c5460">Error: Insert was incorrectly done! Name and eMail must be >0 characters.</p>

    {% endif %}

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table-striped table" style="width: auto">
            <tr>
                <th>{{ form.name.label }}</th>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <th>{{ form.description.label }}</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <th>{{ form.author.label }}</th>
                <td>{{ form.author }}</td>
            </tr>
            <tr>
                <th>{{ form.img.label }}</th>
                <td>{{ form.img }}</td>
            </tr>
        </table>

        <input class="btn btn-primary" type="submit" value="Insert">
    </form>


    <p></p>
    {% if inserted %}
        <h2> {{ inserted }} inserted! Success! </h2>
    {% endif %}

{% endblock %}