{% extends "layout.html" %}

{% load util %}

{% block content %}
    {% if error %}

        <p style="color: #1c7430; background: #0c5460">Error: Insert was incorrectly done! Name and eMail must be >0 characters.</p>

    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <table class="table-striped table" style="width: auto">
            <tr>
                <th>{{ form.Type.label }}</th>
                <td>{{ form.Type }}</td>
            </tr>
            <tr>
                <th>{{ form.Search.label }}</th>
                <td>{{ form.Search }}</td>
            </tr>
        </table>

        <input class="btn btn-primary" type="submit" value="Search">
    </form>

    <br>

    <table class="table">
            <tr>
                <th>Picture</th>
                <th>Nome</th>
                <th>Info</th>
                <th></th>
            </tr>


            {% for result in query %}
                <tr>
                        <td><img width="100px" height="100px" src="{{ result.img.url }}"></td>

                        {% if result|get_type == 'Media' %}
                            <td><a href="{% url 'reviews' %}?mediaid={{ result.id }}">{{ result.name }}</a></td>
                        {% else %}
                        <td>{{ result.name }}</td>
                        {% endif %}


                        <td>{{ result.description }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}